.heading{
          background-color: rgb(54, 31, 167);
          padding-bottom: 20px;
      }
.drop-down{
margin-right: 15px;
}
.center{
text-align: center;
margin-top: 50px;
}
.card-body{
padding: 10px;
}
.card{
width: 350px;
margin-left: 35px;
margin-top: 75px;
}
.car-img{
height: 200px;
width: 150px;
}
.carousel-inner{
display: inline-block;
height: 300px;
width: 300px;
margin-left: 200px;
margin-top: 100px;
}
.carousel-control-prev{
top: 20px;
}
.carousel-control-next{
left: 450px;
}
.car-text{
position: absolute;
left: 700px;
bottom: 0;
}
a{
color: black;
}

.heading-h1{
text-align: center;
margin-top: 50px;
margin-bottom: 30px;
}
.register-form{
text-align: center;
}
input{

display: block;
margin-left: 670px;
margin-top: 20px;
}

#login-button{
margin-top: 25px;
}
/* .form-button{
position: absolute;
left: 47%;
top: 400px;
} */
.reg-nav, .reg-nav:hover, .reg-nav:focus{
text-decoration: none;
}
.log-p{
margin-top: 15px;
text-align: center;
}
.info{
display: inline-block;
}
.card-input{
/* position: absolute;
left: 0; */
margin: 0;
display: inline-block;
margin-left: 5px;
}
.dropdown-toggle, .dropdown{
display: inline-block;
}
.dropdown{
margin-left: 5px;
}
.area-selector{
position: absolute;
left: 650px;
top: 200px;
      }