.patlist{
          position: absolute;
          left: 0;
           top: 45px;
}

#customers {
          margin: 35px 0 0 0 ;
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 20%;
          background-color: white;
        }
        
        #customers td, #customers th {
          border: 1px solid #11c62f;
          padding: 20px;
        }
        
       
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #200688;
          color: white;
        }
        details {
          border: 1px solid #aaa;
          border-radius: 4px;
          padding: .5em .5em 0;
      }
      
      summary {
          font-weight: bold;
          width: 500px;
          
          
      }
      
      details[open] {
          padding: .5em;
      }
      
      details[open] summary {
          border-bottom: 1px solid #aaa;
          margin-bottom: .5em;
      }
@media screen and (max-width: 1220px) {
  body {
    background-color: rgb(142, 121, 196);
  }
  #customers {
   
    background-color: rgb(243, 246, 249);
  }
  summary {
    font-weight: bold;
    width: 500px;
    
    
}
#customers td, #customers th {
  border: 1px solid #11c62f;
  padding: 1px;
}
#customers th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #200688;
  color: white;
}
/* .patlist details{
  position: relative;
  right: 300px;
} */
#customers{
  position: absolute;
  
  right: -25px;
}
#customers1{
  position: absolute;
  
  right: 125px;
}

}    