/* .form-doc{
          margin: 20px 20px 20px;
}cs
.text-flied{
       margin: 0;
       padding-bottom: 25px;   
} */
.patlist{
          position: absolute;
          top: 45px;
          left: 125px;

}
.sumit-form{
          position: relative;
          top: 300px;
          left: 125px;
}
.sumit-form label{
          position: absolute;
          padding: 0;     
}
.sumit-form input{
          margin: 0 0 10px 199px;
}
.form-doc  label{
          position: absolute;
          padding: 0;
}
.form-doc  input{
          margin: 15px 15px 15px 15px;
          top:5px;
}
input[type=radio]  {
       
       margin-left: 185px;
       
}
input[type=radio]::marker{
       margin-top: 1545px;
       background-color: cadetblue;
}


